* {
  box-sizing: border-box;
}

.kave-btn {
  position: relative;
  border: solid 2px rgba(87, 177, 212, 0.3);
  background: rgba(54, 161, 204, 0.2);
  color: #a5caf4;
  font-family: "Audiowide", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 1.8px;
  padding: 0;
  transition: all 0.25s ease;
  outline: none;
}
.kave-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  width: 60px;
  height: 4px;
  transform: translateY(-3px);
  background: #57b1d4;
  transition: all 0.25s ease;
}
.kave-btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 60px;
  height: 4px;
  transform: translateY(3px);
  background: #57b1d4;
  transition: all 0.25s ease;
}
.kave-btn:hover {
  box-shadow: 1px 1px 8px rgba(0, 214, 252, 0.3);
  color: #a5caf4;
  text-shadow: 0 0 8px rgba(0, 214, 252, 0.4);
  cursor: pointer;
}
.kave-btn:hover.kave-btn:before {
  left: 0;
  width: 20px;
}
.kave-btn:hover.kave-btn:after {
  right: 0;
  width: 20px;
}
.kave-btn:hover .kave-line:before {
  bottom: 0;
}
.kave-btn:hover .kave-line:after {
  top: 0;
}
.kave-line:before {
  content: "";
  position: absolute;
  bottom: 30%;
  right: 0;
  width: 4px;
  height: 20px;
  transform: translateX(3px);
  background: #57b1d4;
  transition: all 0.25s ease;
}
.kave-line:after {
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  width: 4px;
  height: 20px;
  transform: translateX(-3px);
  background: #57b1d4;
  transition: all 0.25s ease;
}
